<div class="container search-container">
  <div class="row">
    <div class="col-12 pt-5">
      <div class="input-group mt-3">
        <input
          type="text"
          class="form-control form-control-lg"
          placeholder="Search GitHub users"
          aria-label="query"
          (keyup)="onQueryChange()"
          [(ngModel)]="params.query"
          (keyup.enter)="search()"
          (change)="resetPagination()">
      </div>
    </div>
  </div>

  <ng-container *ngIf="error.length > 0">
    <ngb-alert
      type="danger"
      class="w-100 text-center my-1"
      (close)="error = ''">
      {{ error }}
    </ngb-alert>
  </ng-container>

  <div class="row my-3 fade-in" *ngIf="displayResults && !loading">
    <small class="col-6 col-md-8 pt-2">
        Showing {{ searchResults.users.length }} of {{ searchResults.totalCount }} results for "{{ currentQuery }}"
    </small>

    <div class="col-6 col-md-4 text-right">
      <div ngbDropdown class="dropdown" *ngIf="searchResults.totalCount > 1">
        <button ngbDropdownToggle class="btn btn-secondary btn-sm" [disabled]="loading">
          Sort: {{ sortLabel }}
        </button>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown">
          <button (click)="setSort('Best match', { sort: '', order: 'desc' })" class="dropdown-item">Best match</button>
          <button (click)="setSort('Most followers', { sort: 'followers', order: 'desc' })" class="dropdown-item">Most followers</button>
          <button (click)="setSort('Least followers', { sort: 'followers', order: 'asc' })" class="dropdown-item">Least followers</button>
          <button (click)="setSort('Most repositories', { sort: 'repositories', order: 'desc' })" class="dropdown-item">Most repositories</button>
          <button (click)="setSort('Least repositories', { sort: 'repositories', order: 'asc' })" class="dropdown-item">Least repositories</button>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center" *ngIf="loading">
    <span class="spinner-border text-primary mt-5" role="status">
      <span class="visually-hidden">Loading...</span>
    </span>
  </div>

  <hr class="fade-in" *ngIf="displayResults && !loading">

  <div class="row fade-in" *ngIf="displayResults && !loading">
    <ng-container *ngFor="let user of searchResults.users">
      <div class="col-12">
        <small class="text-muted" style="float:right">Last updated: {{ user.updated_at | date }}</small>
        <div *ngIf="user.avatar_url" class="user-avatar mr-2"
             [ngStyle]="{ 'background-image': 'url(' + user.avatar_url + ')' }">
        </div>
        <a [href]="user.html_url" target="_new" class="user-name align-middle">{{ user.name || user.login }}</a>
        <a [href]="user.html_url" target="_new" class="user-name user-login align-middle">{{ user.login }}</a>
        <p *ngIf="user.bio" [innerHTML]="user.bio" class="w-100 text-wrap"></p>
      </div>

      <div class="col-6">
        <span class="text-muted"> {{ user.email }}</span>
      </div>

      <div class="col-6 text-right">
        <span class="text-muted">{{ user.followers | number }} followers</span>
      </div>

      <div class="col-6">
        <span class="text-muted text-wrap">{{ user.location }}</span>
      </div>

      <div class="col-6 text-right mb-2">
        <span class="text-muted">{{ user.public_repos | number }} public repos</span>
      </div>
      <hr>
    </ng-container>
  </div>

  <div class="row my-5" *ngIf="displayResults && !loading">
    <div class="col-md-6 py-2 pagination-col-left">
      <div ngbDropdown class="dropdown d-inline pagination-input" *ngIf="searchResults.totalCount > 5">
        <button ngbDropdownToggle class="btn btn-secondary btn-sm">
          {{ params.perPage }} items per page
        </button>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown">
          <button (click)="setPerPage(5)" class="dropdown-item">5</button>
          <button (click)="setPerPage(10)" class="dropdown-item">10</button>
          <button (click)="setPerPage(25)" class="dropdown-item">25</button>
          <button (click)="setPerPage(50)" class="dropdown-item">50</button>
          <button (click)="setPerPage(100)" class="dropdown-item">100</button>
        </div>
      </div>
    </div>
    <div class="col-md-6 py-2 pagination-col-right" *ngIf="searchResults.totalCount > params.perPage">
      <ngb-pagination
        class="pagination-input"
        size="sm"
        [disabled]="loading"
        (pageChange)="search()"
        [maxSize]="5"
        [(page)]="params.page"
        [pageSize]="params.perPage"
        [collectionSize]="searchResults.totalCount">
      </ngb-pagination>
    </div>
  </div>
</div>
