<div class="container search-container">
  <div class="row">
    <div class="col-12 pt-5">
      <h1>Search GitHub users</h1>
      <div class="input-group mt-3">
        <input
          type="text"
          class="form-control"
          placeholder="Search GitHub users"
          aria-label="query"
          [(ngModel)]="params.query"
          (keyup.enter)="search()"
          (change)="resetPagination()">
        <button class="btn btn-primary" type="button" id="search-button" (click)="search()">Search</button>
      </div>
    </div>
  </div>

  <ng-container *ngIf="error.length > 0">
    <ngb-alert
      type="danger"
      class="w-100 text-center my-1"
      (close)="error = ''">
      {{ error }}
    </ngb-alert>
  </ng-container>

  <div class="row" *ngIf="searchResults && searchResults.totalCount > 0 && error.length  == 0">
    <div class="col-12">
      <p class="mt-4">
        Showing {{ searchResults.users.length }} of {{ searchResults.totalCount }} results for "{{ currentQuery }}"
      </p>
    </div>

    <ng-container *ngFor="let user of searchResults.users">
      <div class="col-12">
        <div *ngIf="user.avatar_url" class="user-avatar mr-2"
             [ngStyle]="{ 'background-image': 'url(' + user.avatar_url + ')' }">
        </div>
        <a [href]="user.html_url" target="_new" class="user-name align-middle">{{ user.login }}</a>
      </div>
      <hr>
    </ng-container>
  </div>

  <div class="row my-5" *ngIf="searchResults && searchResults.totalCount > 0 && error.length  == 0">
    <div class="col-md-6">
      <div ngbDropdown class="dropdown mr-5 d-inline">
        <button ngbDropdownToggle class="btn btn-outline-secondary">
          {{ params.perPage }} items per page
        </button>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown">
          <button (click)="setPerPage(5)" class="dropdown-item">5</button>
          <button (click)="setPerPage(10)" class="dropdown-item">10</button>
          <button (click)="setPerPage(25)" class="dropdown-item">25</button>
          <button (click)="setPerPage(50)" class="dropdown-item">50</button>
          <button (click)="setPerPage(100)" class="dropdown-item">100</button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <ngb-pagination
        style="float:right;"
        (pageChange)="search()"
        [maxSize]="5"
        [(page)]="params.page"
        [pageSize]="params.perPage"
        [collectionSize]="searchResults.totalCount">
      </ngb-pagination>
    </div>
  </div>
</div>
