@import "src/assets/styles/theme";

.search-container {
  max-width: 800px;
}

.text-right {
  text-align: right;
}

.pagination-input {
  display: inline-block;
}

.pagination-col-left {
  text-align: left;
  @media (max-width: 766px) {
    text-align: center;
  }
}

.pagination-col-right {
  text-align: right;
  @media (max-width: 766px) {
    text-align: center;
  }
}
